<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search" class="action-bar-title"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <SearchForm (search)="buscarAhora($event)"></SearchForm>
    <!-- 
        <Label class="page__content-placeholder" *ngFor="let s of this.ngOnInit()" [text]="s"></Label>
         -->
    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height:1250px">
            <ng-template let-x="item">
               <!-- <FlexboxtLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb ing-circle"></Image>
                    <label [text]="x" class="list-group-iten-heading" verticalAligment="center" style="width: 60%"></label> 
                </FlexboxtLayout>-->
                <FlexboxLayout flexDirection="row">
                    <TextField #texto = "ngModel" [(ngModel)]="textFieldValue"
                        hint="Ingresar texto..." required minlen="4">
                    </TextField>
                    <Label *ngIf="texto.hasError('required')" text="*"></Label>
                    <Label *ngIf="!texto.hasError('required')
                        && texto.hasError('minlen')" text="4+">
                    </Label>
                </FlexboxLayout>
                <Button text="Buscar!" (tap)="onButtonTap()" *ngIf="texto.valid"></Button> 
                    
                <ActivityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)"></ActivityIndicator>
            </ng-template>   

        </ListView>
        <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height:1250px">
            
                <ng-template let-item="item">
                  <label [text]="item.id"></label>
                </ng-template>
              
        </ListView>
        <GridView columns="auto,*,auto" rows="auto,25" verticalAlignment="top" backgroundColor="lightgray">
            <Image src="~/icon.jpg" rowSpan="2" width="72" height="72"
                margin="3" verticalAlignment="top"> </Image>
                <Label text="Excelente Hotel" textWrap="true" col="1"
                    colSpan="2" minHeight="50" fontSize="20" margin="3"> </Label>

                <Label text="Usuario:Carlos P" col="1" fontSize="14" 
                    horizontalAlignment="left" VerticalAlignment="buttom" margin="3"> </Label>

                <Label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" 
                     fontSize="14" VerticalAlignment="buttom" margin="3"> </Label>
        </GridView>
    </PullToRefresh> 

</StackLayout>
